{% extends 'store/Main.html' %}
{% load static %}
{% block content %}

<h2>Electronics</h2>
<div class="row">
    {% for p in products %}
    <div class="col-lg-4">
        <div class="image-container">
            <img class="thumbnail" src="{{ p.imageURL }}" alt="{{ p.name }}" style="width: 100%; height: 200px;">
        </div>
        <h4><strong>{{ p.name }}</strong></h4>
        <p>{{ p.description }}</p>
        <hr>
        <button data-product="{{ p.id }}" data-action="add" class="btn btn-outline-secondary add-btn update_cart">Add to Cart</button>
        <a class="btn btn-outline-success" href="{% url 'Cart' %}">View</a>
        <h5 style="float: right;"><strong>₹{{ p.price|floatformat:2 }}</strong></h5>
    </div>
    {% endfor %}
</div>

{% endblock %}
