{% extends 'store/Main.html' %}
{% block content %}


<div class="contianer mx-auto p-6">
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg p-6">
        <br>
        <h3 style="text-align: center;">items : {{ order.get_cart }}</h3>
        <h3 style="text-align: center;">Total : ₹{{ order.get_cart_total|floatformat:2 }}</h3>
        <br>
        <a href="{% url 'Checkout' %}"><h5 style="float: right; margin-top:-130px; margin-right: 10px; font-size: 20px;" class="btn btn-primary">Back</h5></a>
    <button id="rzp-button1" class="btn btn-success" style="margin-left: 50%;">Pay Now</button>
    <br>
    <br>
    <br>
    </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('rzp-button1').addEventListener('click', async function(e) {
        e.preventDefault();
    
        let response = await fetch(`/create-payment/{{ order.id }}/`, {method:'POST'});
        let data = await response.json();
    
        var options = {
            "key": data.razorpay_key_id,
            "amount": data.amount,
            "currency": "INR",
            "name": "Ecommerce",
            "description": "Test transaction",
            "order_id": data.order_id,
            "handler": function (response){
                // Send payment response to your server
                fetch("/payment_verify", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: `razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${response.razorpay_order_id}&razorpay_signature=${response.razorpay_signature}`
                })
                .then(res => res.json())
                .then(data => {
                    if(data.status === "Success"){
                        alert("Payment Successful!");
                        window.location.href = "/";
                    } else {
                        alert("Payment Failed!");
                    }
                });
            },
            "prefill": {
                "name": data.name,
                "email": data.email,
                "contact": data.mobile
            },
            "theme": {
                "color": "#528FF0"
            }
        };
    
        var rzp = new Razorpay(options);
        rzp.open();
    });
    </script>
    




{% endblock content %} 